body {
    background-color:darkseagreen;
    color:darkslategray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 40px;
    font-weight:100;
    font-style:italic;
    line-height:30px;
}
ol li {
    background:honeydew;
    padding:8px 16px 24px 16px;
    margin-bottom:4px;
    margin-right:20px;
    float:left;
    width:26%;
}
ol li.item-1 {
    background:pink;
}